.about .wrapper {
    margin: 100px auto;
    position: relative;
    .imgContainer {
        width: 100%;
        cursor: default; 
    }
    .textContainer {
        width: 30%;
        position: absolute;
        right: 10%;
        top: 30%;
    }
    
    h2,
    p {
        margin-bottom: 20px;
        color: black;
    }
    h2 {
        color: $orange;
    }

}