header {
    height: 100vh;
    h2 {
        text-align: right;
        // border-top: solid 1px $green;
        padding: 10px;
        color: white;
        text-transform: none;
    }
    a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.1rem;
        margin-left: 25px;
        transition: color 0.5s;
    }
    a:hover,
    a:focus {
        color: $orange;
    }
}

nav ul {
    display: flex;
    justify-content: flex-end;
    padding-top: 40px;
}

h1 {
    font-size: 3.4rem;
    padding: 10px;
    font-weight: 200;
    font-family: $oswald;
    color: white;
    letter-spacing: 5px;
    // text-transform: uppercase;
}

header h2 {
    font-size: 2rem;
    font-weight: 200;
    font-family: $oswald;
}

.squareContainer {
    position: relative;
    height: 400px;
    width: 500px;
    margin-top: 250px;
    animation: text 2.5s ease 1;
}

div.line {
    width: 500px;
    border-bottom: 1px solid $orange;
    position: absolute;
    top: 100px;
    animation: line 2.5s ease;
}

header .wrapper {
    position: relative;
}

.down {
    text-align: center;
}

@keyframes text {
    0% {
        left: 1500px;
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    100% {
        left: 0;
        opacity: 1;
    }
}

@keyframes line {
    0% {
        width: 0;
    }

    100%{
        width: 500px;
    }
}