.projectContainer {
    display: flex;
    margin: 100px 0;
    .imgContainer,
    .description {
        flex-basis: 50%;
    }
}

.description:nth-child(even) {
    padding-left: 60px;
    text-align: right;
    a {
        padding-left: 15px;
    }
}

.description:nth-child(odd) {
    padding-right: 60px;
    a {
        padding-right: 15px;
    }
}

.description {
    border-bottom: 1px solid $orange;
    padding-bottom: 20px;
    h3,
    h4,
    p {
        padding-bottom: 15px;
    }
    a {
        text-transform: uppercase;
        transition: color 0.5s;
    }
    a:hover,
    a:focus {
        color: $orange;
    }
}

.imgContainer {
    position: relative;
    cursor: pointer;
    div.orangeFilter {
        position: absolute;
        z-index: 10;
        opacity: 0.6;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        background-color: $orange;
        transition: all 1s;
    }
}

.projectContainer img {
    transition: filter 1s;
}

.projectContainer .imgContainer:hover img,
.projectContainer .imgContainer:focus img {
    filter: grayscale(0%);
}

.imgContainer:nth-child(odd):hover .orangeFilter,
.imgContainer:nth-child(odd):focus .orangeFilter {
    right: -100%;
    opacity: 0;
}

.imgContainer:nth-child(even):hover .orangeFilter,
.imgContainer:nth-child(even):focus .orangeFilter {
    left: -100%;
    opacity: 0;
}

