i {
    font-size: 2.5rem;
    // box-shadow: 0 0 10px 5px white;
}

.skills ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 60px;
    width: 80%;
    margin: 100px auto;
    li {
        text-align: center;
        display: flex;
        flex-direction: column;
    }
}

i {
    transition: color 0.5s;
    padding-bottom: 5px;
}
i:hover,
i:focus {
    color: $orange;
}