i {
    font-size: 2.5rem;
    // box-shadow: 0 0 10px 5px white;
}

.skills ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 60px;
    width: 80%;
    margin: 100px auto;
    li {
        text-align: center;
        transition: color 0.5s;
    }
    li:hover,
    li:focus {
        color: $orange;
    }
}