$black: #606060;
$darkGrey: #606060;
$grey: #ddd;
$lightGrey: #ececec;
$white: #fff;
$orange: #ff4400;

$fontOne: 'Roboto', sans-serif;
$fontTwo: 'Merriweather', serif;
$oswald: 'Oswald', sans-serif;
$raleway: 'Raleway', sans-serif;
