$black: #606060;
$darkGrey: #606060;
$grey: #ddd;
$lightGrey: #ececec;
$white: #fff;
$orange: rgb(255, 63, 29);
$green: #0e7444;

$fontOne: 'Roboto', sans-serif;
$fontTwo: 'Merriweather', serif;
$oswald: 'Oswald', sans-serif;
$raleway: 'Raleway', sans-serif;

// #ff4400