html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  background-color: rgb(0, 1, 0);
  scroll-behavior: smooth;
}

img {
  display: block;
  height: auto;
  min-height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
p,
label,
input,
ul,
li,
i {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  list-style-type: none;
  color: white;
}

p,
a {
  font-family: "Raleway", sans-serif;
  font-size: 0.7rem;
  line-height: 1.2rem;
  font-weight: 300;
  color: white;
}

h2 {
  text-align: center;
  letter-spacing: 3px;
  font-size: 2.5rem;
  font-weight: 400;
  padding-bottom: 20px;
  margin: 0 auto;
  text-transform: uppercase;
}

h3 {
  font-weight: 300;
  font-size: 1.7rem;
  text-transform: uppercase;
}

h4 {
  font-weight: 300;
}

header {
  height: 100vh;
  position: relative;
}
header h2 {
  text-align: right;
  padding: 10px;
  color: white;
  text-transform: none;
}
header a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1rem;
  margin-left: 25px;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
header a:hover,
header a:focus {
  color: rgb(255, 63, 29);
}
header .fa-bars {
  display: none;
  margin-right: calc(40px - 5%);
  cursor: pointer;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 40px;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h1 {
  font-size: 3.4rem;
  padding: 10px;
  font-weight: 200;
  font-family: "Oswald", sans-serif;
  color: white;
  letter-spacing: 5px;
}

header h2 {
  font-size: 2rem;
  font-weight: 200;
  font-family: "Oswald", sans-serif;
}

.squareContainer {
  position: relative;
  width: 500px;
  margin-top: 20vh;
  -webkit-animation: text 2.5s ease 1;
          animation: text 2.5s ease 1;
}

.line {
  width: 500px;
  border-bottom: 1px solid rgb(255, 63, 29);
  position: absolute;
  top: 100px;
  -webkit-animation: line 2.5s ease;
          animation: line 2.5s ease;
}

header .wrapper {
  position: relative;
}

.down {
  margin-top: 40vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.down i {
  color: rgb(255, 63, 29);
  font-size: 1.5rem;
}
.down i:hover,
.down i:focus {
  color: white;
}

@-webkit-keyframes text {
  0% {
    left: 1500px;
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes text {
  0% {
    left: 1500px;
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@-webkit-keyframes line {
  0% {
    width: 0;
  }
  100% {
    width: 500px;
  }
}
@keyframes line {
  0% {
    width: 0;
  }
  100% {
    width: 500px;
  }
}
.about .wrapper {
  margin: 100px auto;
  position: relative;
}
.about .wrapper .imgContainer {
  width: 100%;
  cursor: default;
}
.about .wrapper .textContainer {
  width: 30%;
  position: absolute;
  right: 10%;
  top: 15%;
}
.about .wrapper h2,
.about .wrapper p {
  margin-bottom: 20px;
  color: black;
}
.about .wrapper h2 {
  color: rgb(255, 63, 29);
}

.projectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 100px 0;
}
.projectContainer .imgContainer,
.projectContainer .description {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.description:nth-child(even) {
  padding-left: 60px;
  text-align: right;
}
.description:nth-child(even) a {
  padding-left: 15px;
}

.description:nth-child(odd) {
  padding-right: 60px;
}
.description:nth-child(odd) a {
  padding-right: 15px;
}

.description {
  border-bottom: 1px solid rgb(255, 63, 29);
  padding-bottom: 20px;
}
.description h3,
.description h4,
.description p {
  padding-bottom: 15px;
}
.description a {
  text-transform: uppercase;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
.description a:hover,
.description a:focus {
  color: rgb(255, 63, 29);
}

.imgContainer {
  position: relative;
  cursor: pointer;
}
.imgContainer div.orangeFilter {
  position: absolute;
  z-index: 10;
  opacity: 0.6;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 63, 29);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.projectContainer img {
  -webkit-transition: -webkit-filter 1s;
  transition: -webkit-filter 1s;
  transition: filter 1s;
  transition: filter 1s, -webkit-filter 1s;
}

.projectContainer .imgContainer:hover img,
.projectContainer .imgContainer:focus img {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.imgContainer:nth-child(odd):hover .orangeFilter,
.imgContainer:nth-child(odd):focus .orangeFilter {
  right: -100%;
  opacity: 0;
}

.imgContainer:nth-child(even):hover .orangeFilter,
.imgContainer:nth-child(even):focus .orangeFilter {
  left: -100%;
  opacity: 0;
}

i {
  font-size: 2.5rem;
}

.skills ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 60px;
  width: 80%;
  margin: 100px auto;
}
.skills ul li {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

i {
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  padding-bottom: 5px;
}

i:hover,
i:focus {
  color: rgb(255, 63, 29);
}

.contact p {
  text-align: center;
  color: teal;
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
}

.contact nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contact ul a {
  padding: 10px;
}

footer {
  padding: 30px;
  text-align: right;
}

@media (max-width: 1100px) {
  .about .wrapper .textContainer {
    top: 8%;
    width: 40%;
  }
}
@media (max-width: 940px) {
  .about .wrapper .textContainer {
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    margin-top: 40px;
  }
  .about .wrapper .textContainer p {
    color: white;
  }
}
@media (max-width: 768px) {
  .wrapper {
    width: 90%;
  }
  header {
    overflow: hidden;
  }
  header ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 100px;
    right: -300px;
    -webkit-transition: right 0.7s;
    transition: right 0.7s;
  }
  header ul li {
    padding: 15px;
  }
  .on {
    right: 5%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
  }
  header .fa-bars {
    display: initial;
  }
  header h1 {
    font-size: 2.5rem;
  }
  header h2 {
    font-size: 1.8rem;
  }
  .squareContainer {
    width: 400px;
  }
  .line {
    width: 400px;
    top: 80px;
  }
  @-webkit-keyframes line {
    0% {
      width: 0;
    }
    100% {
      width: 400px;
    }
  }
  @keyframes line {
    0% {
      width: 0;
    }
    100% {
      width: 400px;
    }
  }
  .projects li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-bottom: 1px solid rgb(255, 63, 29);
  }
  .projects .orangeFilter {
    display: none;
  }
  .projects img {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    padding-bottom: 30px;
  }
  .projects .description {
    border-bottom: none;
  }
  .skills ul {
    grid-template-columns: 1fr 1fr;
  }
  footer p {
    text-align: center;
  }
}
@media (max-width: 490px) {
  .down {
    margin-top: 25vh;
  }
  .squareContainer {
    width: 280px;
  }
  .line {
    width: 280px;
    top: 135px;
  }
  @-webkit-keyframes line {
    0% {
      width: 0;
    }
    100% {
      width: 280px;
    }
  }
  @keyframes line {
    0% {
      width: 0;
    }
    100% {
      width: 280px;
    }
  }
}
@media (max-height: 800px) {
  .down {
    margin-top: 25vh;
  }
}
@media (max-height: 700px) {
  .down {
    margin-top: 15vh;
  }
}
@media (max-height: 600px) {
  .down {
    margin-top: 5vh;
  }
}